body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
    sans-serif; 
    margin: 0;
}

.short-intro{
    width: 1200px;
    margin: 0 calc(50% - 600px);
    display: inline-block;
    background-color: purple;
    color: white;
    padding: 8px;
    font-size: 13px;
}
.intro-text{
    text-align: center;
}
.more-info{
    color: white;
}
.more-info:hover{
    color: black;
}
.main-header{
    width: 1200px;
    margin: 0 calc(50% - 600px);
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 3px rgba(128, 0, 128, 0.1) solid;
    backdrop-filter: blur(1px);
}
.collab{
    color: purple;
    font-size: 50px;
    margin-left: 5%;
    display: inline-block;
}
.main-menu{
    float: right;
    margin-top: 20px;
}
.main-link{
    color: purple;
    margin-right: 25px;
    text-decoration: none;
}
.main-link:hover{
    border-bottom: 2px solid purple;
    padding-bottom: 2px;
}
.main-link.last-link{
    color: purple;
    padding: 4px;
    border: 1px solid purple ;
}
.main-link.last-link:hover{
    border: 1px solid purple;
    background-color: purple;
    color: black;
}

.main{
    width: 1200px;
    margin: 0 calc(50% - 600px);
    margin-bottom: 200px;
}
.main > .first-section{
    width: 1200px;
    margin: 0 calc(50% - 600px);
    margin-bottom: 100px;
}
.first-section .request-text{
    margin-top: 60px;
    margin-bottom: 80px;
}
.first-section .important-text{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.first-section .request{
    display: inline-block;
    color: white;
    text-decoration: none; 
    background-color: purple;
    font-size: 20px;
    width: 160px;
    text-align: center;
    margin-left: calc(50% - 80px);
    padding: 13px 0;
    border-radius: 5px;
    border: 2px solid purple;
}
.request:hover{
    color: purple;
    background-color: white;
}
.first-section .explore-text{
    position: absolute;
    width: 1200px;
    left: calc(50% - 600px);
}

.first-section .bg-one{
    background-color: rgb(252, 247, 253);
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: calc(50% - 250px);
    position: relative;
}
.first-section .bg-two{
    background-color: rgb(248, 228, 255);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: calc(50% - 150px);
    position: relative;
    bottom: 470px;
}
.both{
    position: relative;
    top: 40px;
}
.first-section .phone-text{
    width: 170px;
    margin-left: calc(50% - 85px);
    font-size: 50px;
    text-align: center;
    padding: 120px 0;
    border-radius: 7px;
    color: purple;
    border: 2px solid purple;
    background-color: white;
    margin-bottom: 50px;

}
.phone-text:hover{
    background-color: lightpink; 

}
.first-section .explore{
    text-decoration: none; 
    font-size: 20px;
    text-align: center;
    margin-left: calc(50% - 80px);
    padding: 5px 15px;
    border: 2px solid purple;
    border-radius: 5px;
    color: purple;
}
.explore:hover{
    background-color: purple;
    color: white;
}

.first-section .brands{
    margin-top: 220px;
}
.first-section .brands-list{
    font-size: 25px;
    width: 270px;
    padding: 0 20px;
    margin-left: calc(50% - 135px);
    margin-bottom: 40px;
}
.first-section .brands-logo{
    width: 130px;
    height: 110px;
    margin-left: 40px;
    object-fit: cover;
}
.first-section .brands-logo:nth-child(2){
    margin-left: 180px;
}