
.second-section{
    width: 1200px;
    height: 381px;
    background-color: rgb(251, 248, 255);
    margin-bottom: 300px;
}
.second-section .help{
    font-size: 30px;
    text-align: center;
    margin: 50px 0;
    padding-top: 60px;
}

.second-section .text{
    float: left;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
}
.second-section .text .buttons{
    display: flex;
    gap: 2px;
    padding: 4px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 60px;
    border-radius: 5px;
}
.second-section .button.active{
    background-color: purple;
    color: white;
}
.second-section .button{
    background-color: white;
    color: black;
    padding: 8px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.second-section .button:nth-child(1){
    padding: 8px 80px;
}
.second-section .button.active:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 5px purple;
}
.second-section .button:hover{
    background-color: purple;
    color: white;
    box-shadow: 0 0 5px purple;
}

.second-section .paragraph{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    background-color: #fff;
    width: 430px;
    height: 337px;

}
.second-section .paragraph .text-paragraph{
    background-color: rgb(242, 242, 242);
    width: 430px;
    padding: 18px 15px;
    margin-left: 70px;
    position: relative;
    top: 15px;
}
.second-section .text-paragraph:nth-child(1){
    padding: 35px 15px;
}
.black{
    font-weight: bold;
}
.second-section .see-more{
    color: black;
}
.second-section .see-more:hover{
    color: blue;
}
.second-section .phone{
    float: right;
    width: 220px;
    margin-right: 220px;
    margin-top: 20px;
}

.video-section{
}
.video-section .h2{
    width: 100%;
    text-align: center;
    font-size: 32px;
}
.video-section .video-text{
    width: 750px;
    margin-top: 20px;
    margin-left: calc(50% - 375px);
}
.video-section .video{
    width: 900px;
    height: 450px;
    margin-left: calc(50% - 450px);
    padding: 40px;
}


.done-projects{
    background-color: rgb(252, 249, 255);
    height: 500px;
}
.done-projects .done{
    width: 100%;
    text-align: center;
    padding: 50px;
    font-size: 30px;
}
.done-projects .all{
    display: flex;
}
.done-projects .ft-text{
    background-color: white;
    margin-left: 30px;
    height: 240px;
}
.done-projects .ft-text:nth-child(1){
    margin-left: 200px;
}
.done-projects .ft{
    width: 250px;
}
.done-projects .text-about-img{
    margin-top: 10px;
    padding: 2px 15px;
}
.done-projects .text-about{
    padding: 2px;
}

.done-projects .text-about.color{
    color: purple;
}